<!--Utilizando "!" + TAB creamos toda la estructura HTML cascara de forma rápida-->
{{> head}}
{{> navbar}}
<div>
    <div class="row">
        <div class="col-8">
            <center><h1><u>About Us</u></h1></center>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quas. Dolorum inventore voluptatibus architecto autem modi quae, deserunt hic, possimus aspernatur, quisquam a? Delectus officia dicta nobis aut. Ut, odio.
            </p>
        </div>
    </div>

    <div class="col-7">
        <center><img src="assets/img/logo.png" class="img-thumbnail"></center>
    </div>
</div>
{{> footer}}